 <!-- Sidebar -->
 <ul class="sidebar navbar-nav fixed-top">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/login">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/login">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Login</span></a>
    
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/register">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Register</span></a>
    
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Home</span></a>
    </li>
   
  </ul>

